@import url('https://fonts.googleapis.com/css2?family=Baloo+Tamma+2:wght@400..800&family=League+Gothic&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Red+Hat+Mono:ital,wght@0,300..700;1,300..700&display=swap');

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  -ms-overflow-style: none;
  background-image: linear-gradient(90deg, #141414, #1e1e1e);
  font-family: "Noto Sans", sans-serif;
}

html {
  scroll-behavior: smooth !important;
  overscroll-behavior-y: smooth !important;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scrollbar-width: none;
}

::-webkit-scrollbar {
  display: none;
}

::selection {
  background-color: #0a488394;
}